*{
    padding: 0;
    margin: 0;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-snap-type: y mandatory;
    
}

.seccion{
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-snap-align: start;
    
}

#menu {
    
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "about about project project"
    "about about project project"
    "about about post contact"
    "about about post contact";
    
}

#menu .tile {
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#menu .tile a {
    text-decoration: none;
}

#menu .tile .front {
    background-color: black;
    color: white;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    transition: all 0.5s ease;
    
}

#menu .tile .back {
    background-color: #222;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 28px;
    
}

#menu .tile:hover .front {
    margin-top: -100%;
}

#menu .tile:hover .front {
    margin-top: -100%;
    
}

#menu .project-tile:hover .front {
    margin-top: -50%;
}

#menu .about-tile .front {
    background-image: url(img/about.jpg);
}

#menu .project-tile .front {
    background-image: url(img/project.jpg);
}

#menu .post-tile .front {
    background-image: url(img/post.jpg);
}

#menu .contact-tile .front {
    background-image: url(img/contac.jpg);
}

.about-tile {
    grid-area: about;
}

.project-tile {
    grid-area: project;
}

.post-tile {
    grid-area: post;
}

.contact-tile {
    grid-area: contact;
}

@media screen and (max-width: 400px) and (min-width: 50px){
    #menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "about"
            "project"
            "post"
            "contact";
            }
    
    #menu .tile:hover .front {
                margin-top: 0px;
            }
            
    #menu .project-tile:hover .front {
                margin-top: 0px;
            }        
}

@media screen and (max-width: 800px) and (min-width: 401px){
    #menu {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "about project"
            "post contact";
    }

    #menu .tile:hover .front {
        margin-top: 0px;
    }

    #menu .project-tile:hover .front {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1090px) and (min-width: 801px){
    
    #menu {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        "about about project project"
        "about about project project"
        "about about post contact"
        "about about post contact";
    }

    #menu .project-tile:hover .front {
        margin-top: -50%;
}
}


#about {
    color: #fff;
    background: linear-gradient(black,red);
    opacity: 0;
    transition: all 7s;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
            ". . . ."
            ". description-about titulo ."
            ". . . .";
    
    animation: movedescription 4s;
}

.titulo {
    grid-area: titulo;
    
}

.description-about p {
    transition-duration: 2s ease;
    
}


@keyframes movedescription {
    0% {
        opacity: 0;
    }
    50% {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            ". . . ."
            "description-about . titulo ."
            ". . . .";
        transition-duration: 3s ease;
    }
   100% {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". . . ."
        ". . titulo description-about"
        ". . . .";
   }
}

#about .titulo img{
    width: 20rem;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    pointer-events: auto;
    transition: opacity 300ms;
}

#about .titulo img:hover {
    opacity: 0.3;
}



.description-about {
    grid-area: description-about;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    direction: ltr;
}


#project {
    
    border: 5px solid black;
    object-fit: cover;
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "p2 p3"
        "description description";
  }

.p2 {
    grid-area: p2;
    background: center fixed url('./img/ca.jpg');
    
}

// .p2:hover {
    
//     background: linear-gradient(black,white);
//     opacity: 0.5;
//     width: 98.8vw;
    
//     border-radius: 16px;
//     overflow: hidden;
    
//     transition: all 0.4s ease-in-out;
        
// }

.muestra h1 {
    font-family: "Figtree", sans-serif;
    font-size: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    transform: translate(1000px, 30%);
    
    
    
}



.p3 {
    grid-area: p3;
    background:center fixed url('./img/ca.jpg');
    
}

.description-project {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 250px;
    font-family: "Figtree", sans-serif;
    grid-area: description;
    font-size: larger;
    animation: animate-description-project 6s;
    opacity: 0%;
    font-size: large;
}


@keyframes animate-description-project {
    0% {
        opacity: 100%;
        
    }
    50% {
        opacity: 50%;
        
    }
    100% {
        opacity: 0%;
        
    }
}

#project .p {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 99vh;
    animation: animate-p-project 6s ease;
    
}

@keyframes animate-p-project {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
        
    }
    70% {
        opacity: 50%;
        
    }
    100% {
        opacity: 100%;
    }
}

#post {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
}


#contact {
    display: grid;
    grid-template: auto 100px / 700px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./img/fondocode.jpg) no-repeat center center fixed;
    background-size: cover;
}

#contact form {
    padding: 20px;
    color: white;
    display: grid;
    gap: 15px;
    grid-template: auto /auto;
    align-items: center;
    box-sizing: border-box;
}

#contact form input,
#contact form textarea {
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: black;
    font-family: monospace;
    font-weight: bold;
    
}

#contact .social-networks {
   justify-self: center;
   padding: 10px 0; 
}

#contact .social-networks a {
    color: white;
}

#contact form input[type = "submit"]{
    font-weight: bold;
    font-size: 28px;
}

input:hover {
    box-shadow: 0 0 10px 0 #ea00f2 inset,
                0 0 10px 4px #ea00f2;
}

textarea:hover {
    box-shadow: 0 0 10px 0 #ea00f2 inset,
                0 0 10px 4px #ea00f2;
}

.btn {
    background: linear-gradient(rgb(132, 136, 241), rgb(255, 255, 255));
      
}

.btn:hover {
    box-shadow: 0 0 10px 0 #ea00f2 inset,
                0 0 10px 4px#ea00f2
}