* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-snap-type: y mandatory;
}

section {
  max-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-snap-align: start;
}

#menu {
  max-width: 100vw;
  object-fit: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "dustTwo inferno mirage cache cobble overpass train nuke" "dustTwo inferno mirage cache cobble overpass train nuke";
}

.dustTwo {
  grid-area: dustTwo;
}

.dustTwo:hover {
  transform: scale(2, 0.5);
}

.inferno {
  grid-area: inferno;
}

.mirage {
  grid-area: mirage;
}

.cache {
  grid-area: cache;
}

.cobble {
  grid-area: cobble;
}

.overpass {
  grid-area: overpass;
}

.train {
  grid-area: train;
}

.nuke {
  grid-area: nuke;
}

#menu .dustTwo {
  background-image: url("cs/dust2.jpg");
  background-position: center center;
}

#menu .inferno {
  background-image: url("cs/inferno.jpg");
  background-position: center center;
}

#menu .mirage {
  background-image: url("cs/mirage.jpg");
}

#menu .cache {
  background-image: url("cs/cache.jpg");
}

#menu .cobble {
  background-image: url("cs/cobble.jpg");
}

#menu .overpass {
  background-image: url("cs/overpass.jpg");
}

#menu .train {
  background-image: url("cs/train.jpg");
}

#menu .nuke {
  background-image: url("cs/nuke.jpg");
}

.about-tile {
  grid-area: about;
}

.project-tile {
  grid-area: project;
}

.post-tile {
  grid-area: post;
}

.contact-tile {
  grid-area: contact;
}

@media screen and (max-width: 400px) and (min-width: 50px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "about" "project" "post" "contact";
  }
  #menu .tile:hover .front {
    margin-top: 0px;
  }
  #menu .project-tile:hover .front {
    margin-top: 0px;
  }
}
@media screen and (max-width: 800px) and (min-width: 401px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "about project" "post contact";
  }
  #menu .tile:hover .front {
    margin-top: 0px;
  }
  #menu .project-tile:hover .front {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1090px) and (min-width: 801px) {
  #menu {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-template-areas: "about about project project" "about about project project" "about about post contact" "about about post contact";
  }
  #menu .project-tile:hover .front {
    margin-top: -50%;
  }
}
#about {
  color: #fff;
  background: url("./cs/fondosniper.jpg");
  opacity: 0;
  transition: all 3s;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". description-about titulo ." ". . . .";
  animation: movedescription 1s;
}

.titulo {
  grid-area: titulo;
}

.description-about p {
  transition-duration: 2s ease;
}

@keyframes movedescription {
  0% {
    opacity: 0;
  }
  50% {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." "description-about . titulo ." ". . . .";
    transition-duration: 3s ease;
  }
  100% {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . titulo description-about" ". . . .";
  }
}
.description-about {
  grid-area: description-about;
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  direction: ltr;
}

#project {
  position: relative;
  height: 100vh;
  border: 5px solid black;
  object-fit: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "agua agua" "description description";
}

.agua-uno {
  grid-area: agua;
  background: center fixed url("./img/agua.jpg");
}

.agua-dos {
  grid-area: agua;
  background: center fixed url("./img/agua.jpg");
}

.mira {
  position: absolute;
  z-index: 1;
  left: 800px;
  animation: delmira 7s;
}

@keyframes delmira {
  0% {
    opacity: 0;
  }
  10% {
    transform: translate(-500px, 50%);
    opacity: 80%;
  }
  20% {
    transform: translate(500px, 50%);
    opacity: 100%;
  }
  30% {
    transform: translate(800px, 100%);
  }
  40% {
    transform: translate(500px, 50%);
  }
  50% {
    transform: translate(120px, 50%);
  }
  60% {
    transform: matrix(10, 2, 3, 4, 5, 6);
  }
  70% {
    transform: matrix(10, 2, 3, 40, 5, 6);
  }
  80% {
    transform: rotate(0.9turn);
  }
  90% {
    transform: rotate(0.9turn);
  }
  100% {
    transform: scale(0.9 translate(-100%, -100%));
  }
}
.muestra h1 {
  font-family: "Figtree", sans-serif;
  font-size: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  transform-style: flat;
  left: 0;
  transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.description-project {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 250px;
  font-family: "Figtree", sans-serif;
  grid-area: description;
  font-size: larger;
  animation: animate-description-project 6s;
  opacity: 0%;
  font-size: large;
}

@keyframes animate-description-project {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
#project .p {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 99vh;
  animation: animate-p-project 6s ease;
}

@keyframes animate-p-project {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  70% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
#post {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
}

#contact {
  display: grid;
  grid-template: auto 100px/700px;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./img/fondocode.jpg) no-repeat center center fixed;
  background-size: cover;
}

#contact form {
  padding: 20px;
  color: white;
  display: grid;
  gap: 15px;
  grid-template: auto/auto;
  align-items: center;
  box-sizing: border-box;
}

#contact form input,
#contact form textarea {
  padding: 20px 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 100%;
  color: black;
  font-family: monospace;
  font-weight: bold;
}

#contact .social-networks {
  justify-self: center;
  padding: 10px 0;
}

#contact .social-networks a {
  color: white;
}

#contact form input[type=submit] {
  font-weight: bold;
  font-size: 28px;
}

input:hover {
  box-shadow: 0 0 10px 0 #ea00f2 inset, 0 0 10px 4px #ea00f2;
}

textarea:hover {
  box-shadow: 0 0 10px 0 #ea00f2 inset, 0 0 10px 4px #ea00f2;
}

.btn {
  background: linear-gradient(rgb(132, 136, 241), rgb(255, 255, 255));
}

.btn:hover {
  box-shadow: 0 0 10px 0 #ea00f2 inset, 0 0 10px 4px #ea00f2;
}

/*# sourceMappingURL=style.css.map */
